.PokemonCard {
  border-radius: vw(5);
  padding: vw(20);
  padding-top: vw(10);
  background-color: rgba(255, 255, 255, 0.02);
  position: relative;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  &__index {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(30);
    height: vw(30);
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: vw(5);
    font-size: font-size(12);
    font-weight: $bold;
    color: $black;
  }

  &__image {
    margin: 0;
    text-align: center;

    img {
      display: block;
    }
  }

  &__name {
    font-size: font-size(14);
    text-transform: capitalize;
    letter-spacing: letter-spacing(40);
    color: $title;
  }
}
